<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-tags">
    <div class="widget__head">
      <h3 class="widget__title">Explore tags</h3>
    </div>
    <div class="tag__cloud">
      {% capture temptags %}
        {% for tag in site.tags %}
          {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
        {% endfor %}
      {% endcapture %}
      {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
      {% for temptag in sortedtemptags %}
        {% assign tagitems = temptag | split: '#' %}
        {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
        <a href="/tag/{{ tagname }}">{{ tagname }}</a>
      {% endfor %}
    </div>
  </div>
</div>